*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  color: white;
}

#top-banner {
  height: 50px;
  width: 100vw;
  background-color: #1f3a8a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  height: 90px;
  width: 100vw;
  background-color: white;
}

#nav-container {
  height: 90px;
  width: 65vw;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-container {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

#logo-description > b {
  color: #1f3a8a;
}

#logo-description > p {
  color: #000;
}

#logo-img {
  width: 50px;
}

#navbar > nav > ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: black;
}

#navbar > nav > ul > li:hover {
  color: #1f3a8a;
}

#theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background-color: #dedcdc;
  border-radius: 8px;
}

#hero-section {
  height: 68vh;
  width: 100vw;
  background-color: #1f3a8a;
}

#hero-container {
  height: 70vh;
  width: 70vw;
  margin: 0 auto;

  display: flex;
}

#hero-content {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-content > h1 {
  font-size: 60px;
  line-height: 0.93;
  margin-bottom: 20px;
}

#hero-content > h3 {
  margin-bottom: 20px;
  font-weight: 100;
  letter-spacing: 0.8px;
}

#hero-content > h1 > span {
  color: #86efab;
}

#hero-image {
  height: 100%;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-image > img {
  height: 300px;
  border-radius: 20px;
}
/* #hero-image>floating-box{

position: relative;
right: 50px;
bottom: 50px;
height: 80px;
width: 250px;
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow: hidden;
}

#hero-image>floating-box>h4 , #hero-image>floating-box>p{

color: black;

} */
/* #hero-image{
    position: relative;
    display: inline-block;
}

#hero-image img{
    width: 100%;
    display: block;
    border-radius: 20px;
} */

#floating-box{
    position: absolute;
  
    right: 650px;
    top: 560px;
  

    width: 260px;
    height: 90px;

  

    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    z-index: 100;
}

#floating-box h4,
#floating-box p{
    margin: 0;
    color: black;
}

#floating-box h4{
    font-size: 24px;
    font-weight: 700;
}

#floating-box p{
    margin-top: 8px;
    color: #666;
}
#hero-content > button,
#hero-content > div > button {
  display: inline-block;
  padding: 10px 8px;
  width: 200px;
  border: none;
  border-radius: 10px;
  margin: 2px;
}

#hero-content > button {
  background-color: #5cc65d;
  color: white;
  font-weight: 800;
  width: 300px;
  font-size: 17px;
  margin-bottom: 20px;
  padding: 15px 15px;
}

#hero-content > div > button {
  padding: 20px 20px;
  font-size: 17px;
  color: #1f3a8a;
  font-weight: 800;
  width: 250px;
}

#hero-content > div > #contact-us-btn {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 18px 15px;
  border: 2px solid white;
  transition: background-color 0.1s linear;
}

#hero-content > div > #contact-us-btn:hover {
  background-color: rgb(255, 255, 255);
  color: #1f3a8a;
}

#feature-section {
  height: 65vh;
  width: 100vw;
  background-color: #f9fafb;
}

#about-section {
  height: 100vh;
  width: 100%;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 100px;
  margin-left: 100px;
}
.about-text-secton {
  width: 50%;
}
.about-text-secton h3 {
  font-size: 50px;
  font-weight: 700;
  /* color: #16213e; */
  color: black;
  margin-bottom: 20px;
  font-family: arial sans-serif;
}

.about-text-secton p {
  font-size: 22px;
  color: black;
  line-height: 1.8;
  margin-bottom: 30px;
  font-family: sans-serif;
}
.about-text-secton > ul > li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 20px;
  font-size: 22px;
  color: #2c3e50;
  font-family: arial, sans-serif;
  list-style: none;
}

.about-text-secton > ul > li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  height: 28px;
  border: 2px solid #22c55e;
  border-radius: 50%;
  color: #22c55e;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;
}
button {
  margin-top: 20px;
  padding: 15px 35px;
  background: #2d65f2;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #1d4ed8;
}

.about-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.about-img > img {
  height: 550px;
  width: 60%;
  border-radius: 50px;
  /* box-shadow: 0 15px 35px (0,0,0,0.15); */
  object-fit: cover;
  max-width: 650px;
}

#feature-container {
  height: 65vh;
  width: 70vw;
  /* background-color: cornflowerblue; */
  margin: 0 auto;
}

#feature-text {
  height: 40%;
  width: 60%;
  margin: 0 auto;
  /* background-color: lawngreen; */
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
  color: black;
}

#feature-text > h2 {
  font-size: 40px;
}

#feature-text > p {
  font-size: 20px;
  color: #4a5563;
  letter-spacing: 1px;
  text-align: center;
}

#feature-card-container {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.feature-card {
  height: 300px;
  width: 250px;
  background-color: white;
  margin: 1px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.225);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 30px;
}

.icon-circle {
  height: 100px;
  width: 100px;
  background-color: #dbebfe;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.feature-card > h4 {
  color: black;
  font-size: larger;
}

.feature-card > p {
  color: black;
  line-height: 1.8;
  text-align: center;
}

#footer-section {
  height: 35vh;
  width: 100vw;
  background-color: #121826;
}

#footer-container {
  height: 100%;
  width: 65vw;
  /* background-color: green; */
  margin: 0 auto;
}

#footer-part1 {
  height: 70%;
  width: 100%;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1f2839;
}

#footer-part2 {
  height: 30%;
  width: 100%;
  /* background-color: rgb(8, 49, 50); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #979dab;
}

.footer-text-div {
  height: 100%;
  width: 300px;
  /* background-color: white; */
}

.footer-text-div > h4 {
  color: white;
  margin-top: 50px;
}

.footer-text-div > p,
.footer-text-div > ul > li {
  color: #979dab;
  line-height: 1.5;
  margin-top: 10px;
  list-style-type: none;
}
#about-sec {
  height: 100%;
  width: 50px;
  background-color: brown;
}